<div class="dashboard-container">
  <div class="title-dashboard">
    <h1>Flujo de caja</h1>
    <div class="Line"></div>
  </div>
  <div class="chartcaja">
    <div class="chart-container">
      <canvas  id="MyChart" >{{ chart }}</canvas>
      <app-bar-chart></app-bar-chart>
    </div>
    <div class="chart-container">
      <canvas  id="MyChart1" >{{ chart }}</canvas>
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
  <div class="chart-main">
    <div class="chart-container2">
      <canvas  id="MyChart2" >{{ chart }}</canvas>
      <app-bar-chart></app-bar-chart>
    </div>
  </div>

</div>
